    {{>header}}    
    {{>navbar}}
<table class="table table-bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <a href="/add" class="mx-2 btn btn-primary">Add</a>
                    <a href="/single" class="mx-2 btn btn-primary">Show</a>
                    <a href="/edit" class="mx-2 btn btn-warning">Edit</a>
                    <a href="/delete" class="mx-2 btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
{{>footer}}