{{>header}}
{{>navbar}}
   <form action="/addCustomar" method="post">

     <div class="mb-3">
        <input name="accountNumber" placeholder="Account Number" class="form-control">
    </div>
     <div class="mb-3">
        <input name="name" placeholder="Name" class="form-control">
    </div>
     <div class="mb-3">
        <input name="initBalance" placeholder="initial Balance" class="form-control">
    </div>
     <div class="mb-3">
        <input name="reminedBalance" placeholder="Remined Balance" class="form-control">
    </div>
     <div class="mb-3">
            <button type="submit">submit</button>
    </div>
   </form>
</div>
{{>footer}}